################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Scripts/FileContentIndex/27c1bb81-d98a-4980-91bc-3f38e002fd29.vsidx
/.vs/Scripts/FileContentIndex
/.vs/slnx.sqlite
